.wrapper {
	width: 250px;
	height: 100%;
	padding: 1rem;
	border-right: solid 1px grey;
}

.createRoomWrapper {
	padding-bottom: 1rem;
	border-bottom: solid 1px #ccc;
}

.createRoomWrapper button,
.createRoomWrapper input {
	width: 100%;
}

.createRoomWrapper button {
	background: linear-gradient(#0ff, rgb(169, 237, 113));
	color: white;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 12px;
	margin: 0.5rem auto;
}

.createRoomWrapper input {
	margin-bottom: 0.5rem;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 0.5rem;
	background-color: transparent;
	color: white;
}

.createRoomWrapper input::placeholder {
	color: white;
}

.roomList {
	list-style: none;
	padding: 0;
}

.roomList button {
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	cursor: pointer;
	font-size: 1rem;
	border: none;
	border-bottom: 1px solid gray;
	background-color: transparent;
	color: gray;
}

.roomList button:disabled {
	background-color: transparent;
	cursor: default;
	border: 1px solid #0ff;
	border-radius: 8px;
	color: #0ff;
	font-weight: bold;
}

.roomList button span {
	flex: 1;
	text-align: left;
}
