.wrapper {
	width: calc(100% - 200px);
	display: flex;
	flex-direction: column;
}

.messageList {
	flex: 1;
	overflow-y: scroll;
	padding: 2rem;
}

.messageList ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.messageBox {
	display: flex;
	width: 100%;
	padding: 1rem;
}

.messageBox textarea {
	flex: 1;
	padding: 1rem;
	font-size: 1.25rem;
	border-radius: 25px 0px 0px;
	background-color: transparent;
	border: 1px solid gray;
	color: white;
	max-height: 125px;
}

.messageBox textarea::placeholder {
	color: gray;
}

.messageBox button {
	margin-left: 0.5rem;
	background: transparent;
	border: 1px solid gray;
	border-radius: 0px 0px 25px;
	padding: 1rem 2rem;
	color: gray;
	font-weight: bold;
	font-size: 1.25rem;
}

.messageBox button:hover {
	border: 1px solid rgb(141, 255, 255);
	color: rgb(141, 255, 255);
}

.message {
	max-width: 50%;
	width: fit-content;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	color: white;
	background-image: linear-gradient(to right, #35c1a0, #97c135);
}

.messageInner {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.messageSender {
	color: #ffe5a8;
	font-weight: bold;
}

.you {
	margin-left: auto;
	width: fit-content;
	max-width: 50%;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	color: white;
	background-image: linear-gradient(to right, #3574c1, #6435c1);
}

.messageBody {
	word-wrap: break-word;
	display: block;
	margin: 0.25rem 0;
}

.timestamp {
	font-size: 0.75rem;
	color: rgb(244, 244, 244);
	text-align: right;
	display: block;
}
