.auth {
	box-shadow: 0px 10px 100px 50px white;
	background-color: #0a2540;
	text-align: center;
	padding: 5rem 0;
}

.auth h1 {
	color: white;
	font-size: 5rem;
	background: -webkit-linear-gradient(45deg, #152de4, #00ff95 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.github {
	width: 64px;
	height: 64px;
	margin: 2rem auto;
	display: block;
}

.username {
	color: white;
}

.auth p {
	color: white;
}

.auth button {
	padding: 16px 32px;
	color: white;
	/* background-color: #00d4ff; */
	background-image: linear-gradient(
		to right,
		#2bc0e4 0%,
		#2bc0e4 50%,
		#d1ecc6 100%
	);
	border-radius: 25px;
	border: none;
	margin: 1rem;
	font-weight: bold;
	font-size: 1rem;
}

.flex {
	display: flex;
	padding: 4rem;
}

.code {
	padding: 2em;
	background-color: #1a4d79;
	margin: 2rem;
	border-radius: 20px;
	text-align: left;
	box-shadow: 5px 5px 1px#101b27;
	overflow: scroll;
	max-height: 200px;
	color: white;
	font-size: 1.2em;
	width: 50%;
}

@media (max-width: 640px) {
	.auth h1 {
		font-size: 4rem;
	}

	.token pre {
		font-size: 0.8rem;
	}
}

@media (max-width: 1280px) {
	.token {
		width: 90vw;
		overflow: scroll;
	}
}
